<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'carapp/style.css' %}" />
  <title>CarSite - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
  <div>
    <h1>{% block myhdg %}Welcome to our online car store{% endblock %}</h1>
    {% block body_block %}***{% endblock %}
  </div>
  <div>
    <ul>
        <li class="hbar1"><a href="{% url 'carapp:vehicles' %}">View Available Vehicles</a></li>
        <li class="hbar1"><a href="{% url 'carapp:aboutus' %}">Find out about this site</a></li>
        <li class="hbar1"><a href="{% url 'carapp:homepage' %}">Click here to return to the home page</a></li>
        <li class="hbar1"><a href="{% url 'carapp:signup' %}">Sign Up</a></li>

         {% if user.is_authenticated %}
        <li class="hbar1"><a href="{% url 'carapp:logout' %}">Logout</a></li>
        {% else %}
            <li class="hbar1"><a href="{% url 'carapp:login' %}">Login</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="hbar1"><a href="{% url 'carapp:myorders' %}">My Orders</a></li>
        {% endif %}
    </ul>
  </div>
</body>
</html>
